<html>
    <h1>Farm Details:</h1>
    <body>
        <table>
        <tr>
            <th>Farm name:</th>
            <th>{{farm.name}}</th>
        </tr>
        <tr>
            <th>Geometry:</th>
            <th>{{farm.geometry}}</th>
        </tr>
        <tr>
            <th>Area:</th>
            <th>{{farm.area}}</th>
        </tr>
        <tr>
            <th>Centroid:</th>
            <th>{{farm.centroid}}</th>
        </tr>
        <tr>
            <th>Creation Date:</th>
            <th>{{farm.creation_date}}</th>
        </tr>
        <tr>
            <th>Last modification date:</th>
            <th>{{farm.last_modification_date}}</th>
        </tr>
        <tr>
            <th>Is active:</th>
            <th>{{farm.is_active}}</th>
        </tr>
        <tr>
            <th>Municipality:</th>
            <th>{{farm.municipality}}</th>
        </tr>
        <tr>
            <th>State:</th>
            <th>{{farm.state}}</th>
        </tr>
        <tr>
            <th>Owner:</th>
            <th>{{farm.owner}}</th>
        </tr>
        </table>
    </body>
</html>